header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

#landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 70px;
}

#startButton {
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    background-color: #db361d;
    font-size: 20px;
}

#startButton:hover {
    background-color: #e37e6f;
}

#highScores:hover {
    color: #db361d;
}

#quizSection {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#endingSection {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#highScoreScreen {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

h2{
    font-size: 40px;
}

button{
    border-radius: 5px;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

ol{
    justify-content: left;
    align-content: left;
}

li{
    padding: 15px;
    font-size: 20px;
}